
<<<<<<< HEAD
<<<<<<< HEAD
body {
margin: 0;
padding: 0;
background: #F0F5F5;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: 200;
color: 	#253F3F;
}

/*div contan header,right,left,contant,footer*/
#all{
width: 1200px;
height:1379px;
margin: 10px auto 10px;
padding: 0px 0px 0px 0px;
background: #C2D6D6;
box-shadow: 0px 0px 5px 5px rgba(0,0,0,.2);	
}

/*right side*/
.rightblock{
float:right;
margin-left:5px;
width:250px;
height:1070px;
}
.bodylink{
background:#006666 ;
}

.bodymenulink{
    margin-left: 21px;
        float:right;
margin-left: 5px;
padding-right: 110px;

}
#list{
position:relative;
bottom:525px;
left:30px;

}
.headmenu{
width:210px;
height:30px;
background:#538D8D;
color:#DEEBEB;
font-weight:bold;
text-align:center;
padding:5px;
margin:10px 5px 0px 5px;
}

a{
color:	#2E4E4E;
text-decoration:none;
}

.bodymenulink{
width:200px;
height:125px;
background: #AECECE ;
padding:10px;
margin:3px 5px 0px 5px;
}

.bodymenulink ul{
list-style:none;
padding:2px;
margin:5px;
}
.bodymenulink ul li{
}

.bodymenulink ul li a{
display: #000000  ;
padding:1px 5px 5px 5px;
border-bottom:5px  #282828;
}

.bodymenulink ul li a:hover{
background:#DEEBEB ;
color:#406E6E;
border-bottom:0px solid #7DB1B1
;
}
/*left side*/
.leftblock{
margin-right:5px;
float:left;
width:250px;
height: 677px;
background: #AECECE;
}
/*contasnt*/
.centerblock{
width:auto;
margin-left:276px;
margin-right:350px;
height: 1070px;
padding-left: 0px;
}
#rout{
    float:inside;
margin-left: 5px;

}

/** header*/
#header{
width:1200px ;
height:528px;
background: #99C2C2;    
}

/** logo */
#logo{
margin: 20px;
padding: 30px;
    
}


/** top_menu */
#menu {
overflow: hidden;
width: 1200px;
background: #5C9D9D;
font-size: 20px;
color: #2E4E4E;
}

#menu ul {
margin: 0px 0px 0px 0px;
padding: 0px 0px;
list-style: none;
line-height: normal;
text-align: center;
position:absolute;
}

#menu li {
display: inline-block;
}

#menu a {
display: block;
padding: 15px 40px 15px 40px;
text-decoration: none;
text-transform: uppercase;
text-align: center;
font-family: 'Oswald', sans-serif;
font-size: 16px;
font-weight: 200;
color: #DEEBEB;
border: none;
}

#menu a:hover, #menu .current_page_item a {
text-decoration: none;
background:	#375E5E;
box-shadow: inset 0px 0px 50px 5px rgba(0,0,0,.1);
border-radius: 5px;
color: #DEEBEB;
}

#menu .current_page_item a {
background: #fcfadd;
color: #88181c ;
}

#menu .last {
border-right: none;
}


#ten{
position:relative;
bottom:500px;
background:#E6F0F0;
width:110px;
}
h1{
width:100px;
}


#navbar{
margin-top:-50px;
margin-right:1200px;
}

#outter{
float:left;
margin-left:910px;
margin-top: 330px;
}
outter{
    float :left;
width:100%;
position:relative; 
height:100%;
}

i:hover{
font-size:42px;
margin-bottom:40px;
}
nav{
list-style-type:none;}
a{text-decoration:none;}

.scrol{
margin-top:200px; 
margin-right:48px;}

.ip{
border: 2px solid #a1a1a1;
padding: 10px 40px;
width: 135px; 
border-radius: 10px; 
box-shadow:0 0 5px #333;}

#cont{ 
margin-right:280px; 
margin-top:17px;}
ul  {
list-style: none;
margin-top:-2px;
 }
ul li{
display:inline;
position:relative;
padding:15px;           
cursor:pointer;
margin-right:0;			 
color:#375E5E;
}
ul li:hover{                

}
ul li ul{
padding:0;
position:absolute;
left:0;
top:160px;
width:250px;
opacity:0;
visibility:hidden;
transition:1s;                
}
ul li ul li{
display:block;
background:#DEEBEB;
color:#375E5E;
}
ul li ul li:hover{
background:#538D8D;
}
ul li:hover ul{
opacity:1;
visibility:visible;
top:50px;
transition:1s;
}
a{
 text-decoration:none;
}

#list{
position:relative;
bottom:300px;
left:30px;

}
.headmenu{
width:210px;
height:30px;
background:#538D8D;
color:#DEEBEB;
font-weight:bold;
text-align:center;
padding:5px;
margin:10px 5px 0px 5px;
}

a{
color:	#2E4E4E;
text-decoration:none;
}

#bodymenulink{
width:200px;
height:125px;
background: #AECECE ;
padding:10px;
margin:3px 5px 0px 5px;
}

#bodymenulink ul{
list-style:none;
padding:2px;
margin:5px;
}
.bodymenulink ul li{
}

.bodymenulink ul li a{
display: #000000  ;
padding:1px 5px 5px 5px;
border-bottom:5px  #282828;
}

.bodymenulink ul li a:hover{
background:#DEEBEB ;
color:#406E6E;
border-bottom:0px solid #7DB1B1
;
}



#footer{
width:1204px ;
height:200px;
background: #F0F4F4; 
margin-top: 143px;
}
#copyright{
overflow: hidden;
padding: 5em 0em;
border-top: 1px solid rgba(255,255,255,0.08);
}

=======
=======
>>>>>>> origin/master

body {
	margin-top: 50px;
	padding: 0;
	background: #E6CCCC;
	text-align: justify;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #616161;
}

h1, h2, h3 {
	margin-top: 0;
	color: #8C0209;
	
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1em;
}

ul {
}

a {
	text-decoration: none;
	color: #8C0209;
}

a:hover {
	border-bottom: none;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 0 20px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 20px;
}

#header {
<<<<<<< HEAD
	width: 1000px;
	margin: 0 auto;
=======
	width: 1164px;
	margin: 12px auto;
>>>>>>> origin/master
	height: 150px;
    background:#800000 no-repeat left top;
}

/* Header */

#logo {
<<<<<<< HEAD
	width: 800px;
=======
	width: 995px;
>>>>>>> origin/master
	height: 100px;
	margin: 0 auto;
	padding: 0 10px 0 70px;
	background: #fff no-repeat left top;
}

#logo h1, #logo p {
	float: left;
	margin: 0;
	color: #8C0209;
}

#logo span {
	color: #400000;
}

#logo h1 {
	padding: 25px 0 0 0;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-weight: normal;
	font-size: 3em;
	  font-family: fantasy;
}

#logo p {
	text-transform: uppercase;
	padding: 47px 0 0 3px;
	font-size: 10px;
	color: #110E0F;
}

#logo a {
	border: none;
	text-decoration: none;
	color: #8C0209;
}

/* Menu */

#menu {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
	height: 50px;
	background: url(images/img02.jpg) no-repeat left top;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
<<<<<<< HEAD
	margin-left:215px;
=======
	margin-left:150px;
>>>>>>> origin/master
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	height: 32px;
	margin: 0;
	padding: 18px 30px 0 30px;
	text-decoration: none;
	text-transform: capitalize;
	background: url(images/img03.jpg) no-repeat right top;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 17px;
	color: #FFFFFF;
}

#menu a:hover {
	color: #800000;
	background:#fff;
	opacity:1;
    visibility:visible;
    top:50px;
    transition:1s;
}

#menu .current_page_item a {
	color: #FFFFFF;
}

/* Wrapper */

#wrapper {
}

/* Page */

#page {
<<<<<<< HEAD
	width: 990px;
	margin: 0 auto;
	padding: 28px 88px;
=======
	width: 1170px;
	margin: 0 auto;
>>>>>>> origin/master
	background: #FFFFFF;
}

#page-bg {
}

/* Latest Post */

#latest-post {
	padding: 20px;
	border: 1px solid #E7E7E7;
}

/* Content */

#content {
<<<<<<< HEAD
	float: left;
	width: 550px;
	height:1200px;
}
=======
    float: left!important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    width: 710px !important;
    height: 1200px !important;
}

>>>>>>> origin/master
.flower {
	padding-left: 20px;
}

/* Sidebars */

#left_menu {
	float: left;
}

#right_menu{
<<<<<<< HEAD
	float: right;
=======
	float: right!important;
>>>>>>> origin/master
}

.sidebar {
	float: left;
	width: 220px;
	padding: 0;
	font-size: 12px;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar li {
	padding: 0 0 20px 0;
}

.sidebar li ul {
}

.sidebar li li {
	margin: 0 20px 0 15px;
	padding: 8px 0px;
	border-bottom: 1px #BBBBBB dashed;
}


.sidebar li h2 {
	height: 30px;
	margin: 0 0 0 0;
	padding: 10px 15px 0px 15px;
	background: #890208 url(images/img05.jpg) no-repeat left top;
	letter-spacing: -1px;
	font-size: 16px;
	color: #FFFFFF;
	  font-family: inherit;

}

.sidebar a {
}

/* Search */

#searchform {
	margin: 0;
	padding: 0 0 0 0;
}

#searchform br {
	display: none;
}

#searchform h2 {
}

#s {
	margin: 10px 0px 0 15px;
	padding: 2px 2px;
	width: 180px;
	height: 18px;
	border: 1px solid #CA8186;
	background: #FFFFFF;
	font-size: 10px;
	color: #000000;
}

#x {
	margin: 0;
	padding: 2px 5px;
	height: 25px;
	background: #CA8186;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CCCCCC;
}
/* Calendar */

#calendar_wrap {
	padding: 0 15px;
	text-align: center;
}

#calendar_wrap table {
	width: 100%;
}

#calendar_wrap th {
}

#calendar_wrap td {
}

#calendar_wrap tfoot td {
	border: none;
}

#calendar_wrap tfoot td#prev {
	text-align: left;
	font-weight: bold;
	border: none;
}

#calendar_wrap tfoot td#prev a {
	border: none;
}

#calendar_wrap tfoot td#next {
	text-align: right;
	font-weight: bold;
	border: none;
}

#calendar_wrap tfoot td#next a {
	border: none;
}

/* Footer */

<<<<<<< HEAD
>>>>>>> origin/master
=======
>>>>>>> origin/master
#copyright p
{
letter-spacing: 0.20em;
text-align: center;
text-transform: uppercase;
font-size: 0.80em;
color: 	#2E4E4E;
<<<<<<< HEAD
<<<<<<< HEAD
=======
margin-left:180px;
>>>>>>> origin/master
=======
margin-left:180px;
>>>>>>> origin/master
}

#copyright a
{
text-decoration: none;
color: #2E4E4E;
}
<<<<<<< HEAD
<<<<<<< HEAD
.content{
    padding-top: 0px;
    
}
.container {
width: 900px;
margin: 0px auto;
=======

.container {
width: 1200px;
>>>>>>> origin/master
=======

.container {
width: 1200px;
>>>>>>> origin/master
}

.icons {
text-align:center;
<<<<<<< HEAD
<<<<<<< HEAD
=======
margin-left:180px;
>>>>>>> origin/master
=======
margin-left:180px;
>>>>>>> origin/master
}
.icons li {
list-style:none;
display:inline;
<<<<<<< HEAD
<<<<<<< HEAD
}


=======

}
>>>>>>> origin/master
/*error page*/
body{
font-family: 'Courgette', cursive;
}
	
=======

}
/*error page*/
/*
body{
font-family: 'Courgette', cursive;
}
*/	
>>>>>>> origin/master
.wrap{
margin:0 auto;
width:1000px;
}
.logoo{
margin-top:50px;
}	
.logoo h1{
font-size:xx-large;
<<<<<<< HEAD
<<<<<<< HEAD
color:#006666;
=======
color:#800000;
>>>>>>> origin/master
=======
color:#800000;
>>>>>>> origin/master
text-align:center;
margin-bottom:1px;
text-shadow:1px 1px 6px #fff;
}	
.logoo p{
<<<<<<< HEAD
<<<<<<< HEAD
color:#006666;
=======
color:#A64D4D;
>>>>>>> origin/master
=======
color:#A64D4D;
>>>>>>> origin/master
font-size:20px;
margin-top:1px;
text-align:center;
}	
.logoo p span{
color:lightgreen;
}	
.sub a{
color:white;
<<<<<<< HEAD
<<<<<<< HEAD
background:#006666;
=======
background:#800000;
>>>>>>> origin/master
=======
background:#800000;
>>>>>>> origin/master
text-decoration:none;
padding:7px 120px;
font-size:13px;
font-family: arial, serif;
font-weight:bold;
-webkit-border-radius:3em;
-moz-border-radius:.1em;
-border-radius:.1em;
}	
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> origin/master

.form-style-3{
    max-width: 450px;
   font-family: cursive;
}
.form-style-3 label{
    display:block;
    margin-bottom: 10px;
}
.form-style-3 label > span{
    float: left;
    width: 100px;
    color: #2E4E4E;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px #fff;
}
.form-style-3 fieldset{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #7DB1B1;
    padding: 20px;
    background: #CEE2E2;
    box-shadow: inset 0px 0px 15px #AECECE;
    -moz-box-shadow: inset 0px 0px 15px #AECECE;
    -webkit-box-shadow: inset 0px 0px 15px #AECECE;
}
.form-style-3 fieldset legend{
    color: #2E4E4E;
    border-top: 1px solid #5C9D9D;
    border-left: 1px solid #5C9D9D;
    border-right: 1px solid #5C9D9D;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    background: #DEEBEB;
    padding: 0px 8px 3px 8px;
    box-shadow: -0px -1px 2px #F1F1F1;
    -moz-box-shadow:-0px -1px 2px #F1F1F1;
    -webkit-box-shadow:-0px -1px 2px #F1F1F1;
    font-weight: normal;
    font-size: 12px;
}
.form-style-3 textarea{
    width:250px;
    height:100px;
}
.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select, 
.form-style-3 textarea{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #AECECE;
    outline: none;
    color: #1C2F2F;
    padding: 5px 8px 5px 8px;
    box-shadow: inset 1px 1px 4px #AECECE;
    -moz-box-shadow: inset 1px 1px 4px #AECECE;
    -webkit-box-shadow: inset 1px 1px 4px #AECECE;
    background: #DEEBEB;
    width:initial;
}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
    background: #DEEBEB;
    border: 1px solid #AECECE;
    padding: 5px 15px 5px 15px;
    color: #1C2F2F;
    box-shadow: inset -1px -1px 3px #AECECE;
    -moz-box-shadow: inset -1px -1px 3px #AECECE;
    -webkit-box-shadow: inset -1px -1px 3px #AECECE;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;    
    font-weight: bold;
}
.required{
    color:red;
    font-weight:normal;
}
<<<<<<< HEAD
>>>>>>> origin/master
=======
.CSS_Table_Example {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 5px 5px 5px #C08080;
	border:1px solid #D9B2B2;
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}.CSS_Table_Example table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSS_Table_Example tr:last-child td:last-child {
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
}.CSS_Table_Example table tr:first-child td:first-child {
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}.CSS_Table_Example table tr:first-child td:last-child {
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
}.CSS_Table_Example tr:last-child td:first-child{
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
}.CSS_Table_Example tr:hover td{
	background-color:#800000;
	background:-o-linear-gradient(bottom, #800000 5%, #800000 100%);	
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #800000), color-stop(1, #E6CCCC) );
	background:-moz-linear-gradient( center top, #E6CCCC 5%, #E6CCCC 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#E6CCCC", endColorstr="#E6CCCC");	
	background: -o-linear-gradient(top,#E6CCCC,#E6CCCC);
	color:#5A0000;
	
}.CSS_Table_Example tr:first-child td{
	background:-o-linear-gradient(bottom, #E6CCCC 5%, #E6CCCC 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #A64D4D), color-stop(1, #E6CCCC) );
	background:-moz-linear-gradient( center top, #E6CCCC 5%, #E6CCCC 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#E6CCCC", endColorstr="#E6CCCC");	
	background: -o-linear-gradient(top,#E6CCCC,#E6CCCC);
	background-color:#E6CCCC;
	
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:18px;
	font-family:Comic Sans MS;
	font-weight:bold;
	color:#800000;
}.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #E6CCCC 5%,#E6CCCC 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #E6CCCC), color-stop(1, #E6CCCC) );
	background:-moz-linear-gradient( center top, #E6CCCC 5%, #E6CCCC 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#E6CCCC", endColorstr="#E6CCCC");
	background: -o-linear-gradient(top,#E6CCCC);
	background-color:#E6CCCC;
}.CSS_Table_Example tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}.CSS_Table_Example tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}.CSS_Table_Example td{
	background:-o-linear-gradient(bottom, #56aaff 5%, #82c0ff 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #E6CCCC), color-stop(1, #E6CCCC) ); 
	background:-moz-linear-gradient( center top, #56aaff 5%, #82c0ff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#E6CCCC", endColorstr="#E6CCCC");	
	background: -o-linear-gradient(top,#E6CCCC,#E6CCCC);
	background-color:#E6CCCC;
	border:1px solid #D9B2B2;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Comic Sans MS;
	font-weight:bold;
	color:#5A0000;
}.CSS_Table_Example tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSS_Table_Example tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSS_Table_Example tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
>>>>>>> origin/master
